<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
  </configSections>
  <appSettings>
	<!--true or false-->
	<add key="testMode" value="true"/>
	<add key="InfinatePostScrollPageSize" value="20"/>
	<add key="Title" value="CrowdRelief - Crowdfunding household items for Louisiana flood victims"/>
	<add key="Domain" value="https://www.CrowdRelief.net" />
	<add key="testNonce" value="fake-valid-country-of-issuance-usa-nonce"/>
	<add key="testCampaignId" value="a500724f-d326-4607-91c0-a7709a72cb71"/>
	<add key="testBasicNeedsSurveyItemId" value="76B9A3D2-C090-4F82-9378-059F5A6A5163"/>
	<add key="CampaignImageFolder" value="/Images/Campaigns/"/>
    <add key="CampaignImageIconWidth" value="400"/>
    <add key="CampaignImageDisplayWidth" value="700"/>
	<add key="emailBcc" value="robertkgaudet@gmail.com" />
	<add key="emailFrom" value="support@CrowdRelief.org" />
	<add key="emailFromDisplayName" value="CrowdRelief Support" />
	<add key="emailNetworkUserName" value="wamystu" />
	<add key="emailNetworkPassword" value="miller69" />
	<add key="smtpServer" value="smtp.sendgrid.net" />
	<add key="rebuildProgressSliderId" value="263af7c5-7da1-4a1e-8720-b047235bca63"/>
	<add key="progressEstimateSliderId" value="35684ab8-ba1c-4283-ac75-a1d5d87330dc"/>
  </appSettings>
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="__CLIENT_ID__"/>
      <add name="clientSecret" value="__CLIENT_SECRET__"/>
    </settings>
  </paypal>
  <connectionStrings>
    <add name="CrowdReliefConnectionString" connectionString="Server=ROBDELLLAPTOP;Database=CrowdRelief;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
	<mailSettings>
	  <smtp from="support@CrowdRelief.org">
		<network port="587" defaultCredentials="false" enableSsl="true" host="smtp.sendgrid.net" password="miller69" userName="wamystu" />
	  </smtp>
	</mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
      </system.Web>
  -->
  <system.web>
	<httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" 
			 connectionStringName="CrowdReliefConnectionString" enablePasswordRetrieval="false" 
			 enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" 
			 minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" 
			 passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CrowdReliefConnectionString" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CrowdReliefConnectionString" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
	<pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirects From CajunSantaChristmas" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^|CajunSantaChristmas.*(com)$"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?CajunSantaChristmas.(com)$"/>
          </conditions>
          <action type="Redirect" url="http://www.CajunRelief.com/campaigns/cajunsantachristmas"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>